body
{
    background-image: url("tło.jpg");
    margin: 0;
}

#container
{
    width: 1366px;
    height: 720px;   
    margin-left: auto;
    margin-right: auto;
}

#logo
{
    width: 258px;
    height: 258px;
    background-image: url("logo.png");
    position: relative;
    margin-left: 150px;
    margin-top: 49px;
}

#menu
{
    width: 960px;
    height: 50px;
    background-image: url("menu.png");
    margin-left: auto;
    margin-right: auto;
    margin-top: -105px;
}

#podmenu
{
    margin-left: 160px;
}

.wmenu
{
    color: #000000;
    float: left;
    position: relative;
    padding: 10px;
    margin-left: 60px;
    margin-top: 10px;
    font-size: 19px;
    font-family: 'Courgette', cursive;
    

}

.wmenu:hover
{
    color: #fce5bc;
    text-shadow: 1px 1px black;
    cursor: pointer;
}

#logo2
{
    width: 274px;
    height: 214px;
    background-image: url("logokubek2.png");
    position: relative;
    margin-left: 956px;
    margin-top: -160px;
}

#content
{
    width: 960px;
    height: 527px;
    background-image: url("content.png");
    margin-left: auto;
    margin-right: auto;
    margin-top: -64px;
}

.tekst
{
    text-align: center;
    float: left;
    text-overflow: auto;
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    margin-left: 150px;
    margin-right: 150px;
}

#nadikony1
{
    margin-left: 300px;
    margin-right: 300px;
    
}

#nadikony2
{
    margin-left: 290px;
    margin-right: 300px;
}
.ikony
{
    width: 160px;
    height: 160px;
    float: left;
    margin-top: 50px;
    padding: 10px;
}